<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Movies
      </ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-card *ngFor="let movie of movies">
      <img [src]="movie.image" alt="" />
      <ion-card-header>
        <ion-card-title>
          {{ movie.title }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ movie.year }}
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        {{ movie.director }}
      </ion-card-content>
  
    </ion-card>
  
  
  </ion-content>
  
  